---
---
@charset "utf-8";

$break-small: 600px;
$break-large: 1000px;

* { box-sizing: border-box; }
.hidden { display: none; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fdfdfd;
  border-bottom: 5px #2a7ae2 solid;
  min-height: 100%;
}

body { margin: 0; }

.section-wrapper {
  &.header {
    background-color: #444;
    color: #fdfdfd;
    border-top: 1px solid transparent;
    border-bottom: 5px #2a7ae2 solid;

    a { color: inherit; }
  }

  section { margin: 2em; }
}

h1, h2 { margin: 1em 0 0.5em 0; }
p { margin: 0 0 1em 0; }

ol.events {
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
  }

  li {
    list-style-type: none;

    .event-wrapper { margin-bottom: 1em; }

    @media screen and (min-width: $break-small) {
      float: left;
      width: 50%;

      .event-wrapper { margin-right: 1em; }
    }

    @media screen and (min-width: $break-large) {
      width: 33%;
    }

    a {
      background-color: rgba(#2a7ae2, 0.1);
      border: 1px solid #bbb;
      padding: 1em;
      display: block;
      position: relative;
      border-radius: 7px;

      h2 { margin-top: 0; }
    }
  }
}

summary {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
}
