---
layout: default
---

{% assign services = "" %}
{% for post in site.posts %}
  {% assign post_services = post.services | join:'|' | append:'|' %}
  {% assign services = services | append:post_services %}
{% endfor %}
{% assign services = services | split:'|' | sort %}

{% for service in services %}
  <section>
    <h1 id="{{ tag | slugify }}">{{ service }}</h1>

    <ol>
      {% for post in site.posts %}
        {% if post.services contains service %}
          <li>
            <a href="{{ post.site }}">
              {{ post.title }} ({{ post.city }})
            </a>
          </li>
        {% endif %}
     {% endfor %}
    </ol>
  </section>
{% endfor %}
