---
layout: default
---

{% assign rawservices = "" %}
{% for post in site.posts %}
  {% assign post_services = post.services | join: "|" | append: "|" %}
  {% assign rawservices = rawservices | append: post_services %}
{% endfor %}
{% assign rawservices = rawservices | split: "|" | sort %}

{% assign services = "" %}
{% for service in rawservices %}
  {% if services == "" %}
    {% assign services = service | split: "|" %}
  {% endif %}
  {% unless services contains service %}
    {% assign services = services | join: "|" | append: "|" | append: service | split: "|" %}
  {% endunless %}
{% endfor %}

<header>
  <h1><a href="{{ site.baseurl }}" aria-label="confally">confa11y</a></h1>
  <a class="submit-button" href="https://github.com/adunkman/confa11y/issues/new">submit a conference</a>
  <p>Find technology conferences that welcome, <br>accommodate, and celebrate you.</p>
</header>

<main>
{% for service in services %}
  <section id="{{ service | slugify }}">
    <h1>{{ service }}</h1>

    <ol>
      {% for post in site.posts %}
        {% if post.services contains service %}
          <li data-service="{{ service | slugify }}">
            <a href="{{ post.site }}" target="_blank">
              <h2>{{ post.title }}</h2>
              <p class="location">in {{ post.city }}</p>
              <p class="dates">
                <time datetime="{{ post.from | date: "%Y-%m-%d" }}">{{ post.from | date: "%Y-%m-%d" }}</time>
                {% if post.from != post.to %}
                  <span aria-label="to">–</span> <time datetime="{{ post.to | date: "%Y-%m-%d" }}">{{ post.to | date: "%Y-%m-%d" }}</time>
                {% endif %}
              </p>
            </a>
          </li>
        {% endif %}
     {% endfor %}
    </ol>

    <details class="hidden">
      <summary>Past Events</summary>
      <ol class="js-past">
      </ol>
    </details>
  </section>
{% endfor %}
</main>

<footer>
  <a class="submit-button" href="https://github.com/adunkman/confa11y/issues/new">submit a conference</a>

  <menu>
    <ul>
      <li>
        <h1>Connect</h1>
        <ul>
          <li><a href="https://github.com/adunkman/confa11y">GitHub</a></li>
          <li><a href="https://twitter.com/confa11y">Twitter</a></li>
        </ul>
      </li>
      <li>
        <h1>Feeds</h1>
        <ul>
          <li><a href="{{ "/conferences.ics" | prepend: site.url }}">iCal</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.url }}">RSS</a></li>
        </ul>
      </li>
    </ul>
  </menu>
</footer>
